* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d14545;
    background-image: linear-gradient(316deg, #d14545 0%, #ff9933 74%);
}

// MOBILE VERSION
.calculator {
    background: rgb(220, 220, 220);
    box-shadow: 5px 5px 5px grey, -5px -5px 5px grey;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: grid;
    grid-column: repeat(1fr, 4);
    grid-row: repeat(1fr, 6);
    gap: 20px;
    &__display {
        padding: 10px;
        grid-area: 1 / 1 / 2 / 5;
        background-color: white;
        box-shadow: inset 5px 5px 5px grey, inset -5px -5px 5px white;
        border-radius: 3px;
        font-size: 90px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        overflow-x: hidden;
    }
    button {
        background-color: 505050;
        padding: 10px;
        border: 3px solid #b2b2b2;
        box-shadow: 5px 5px 5px grey, -5px -5px 5px white;
        background: rgb(230, 230, 230);
        outline: none;
        border-radius: 50%;
        font-size: 30px;
        font-weight:510;
    }
    button:active {
        background: #e5e5e5;
        -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
        box-shadow: inset 0px 0px 5px #c1c1c1;
    }    
}

.c__keypad {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.seven__keypad {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.four__keypad {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

.one__keypad {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}

.zero__keypad {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}

.plusMinus__keypad {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.eight__keypad {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.five__keypad {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

.two__keypad {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}

.percentage__keypad {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.nine__keypad {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.six__keypad {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

.three__keypad {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
}

.decimal__keypad {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 4;
}

.divide__keypad {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

.multiply__keypad {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}

.subtract__keypad {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}

.add__keypad {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}

.equals__keypad {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 5;
}


button {
    box-shadow: 5px 5px 5px grey, -5px -5px 5px white;
    }

button:hover {
    box-shadow: inset 5px 5px 5px grey, inset -5px -5px 5px white;
    }


// DESKTOP VERSION
@media screen and (min-width: 1000px) {
    body {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    .calculator {
        max-width: 500px;
        max-height: 800px;
        border-radius: 7px;
        &__display {
            font-size: 90px;
        }
    }
}

// stop digits going over end of calculator screen
// digits can keep being typed - how to resolve this?